ANTHROPIC_API_KEY=sk-ant-api03-REEMPLAZA_CON_TU_KEY
ANTHROPIC_MODEL=claude-opus-4-5
LIBRARY_SERVER_SCRIPT=../../../../week-07-servers_bd_apis_externas/3-proyecto/starter/python-server/src/server.py
DB_PATH=../../../../week-07-servers_bd_apis_externas/3-proyecto/starter/python-server/books.db
CALCULATOR_SERVER_SCRIPT=servers/calculator_server.py
MAX_ITERATIONS=15
